@import "tailwindcss";

@theme {
  /* Padding Start  */
  --spacing-headerP: 50px;
  /* Padding end */

  /* colour start  */
  --color-fahimbg: #fff8f3;
  --color-hDarkone: #474747;
  --color-darkOne: #181818;
  --color-darktwo: #757575;
  --color-btn: #FD6E0A;
  --color-hvr: #efeff1;
   
  /* colour end  */

  /* Container start  */
  --spacing-mContainer: 1140px;
  /* Container end */

  /* Font family start  */
  --font-open: "Open Sans", sans-serif;

  /* Font family end */
  --shadow-service: 0px 6px 50px 0 rgba(0,0,0,0.06);
}
